<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
    </head>
    <body>
        <div class="main-content">
               {{>header}}
        <h1> About page </h1>
        </div>
      
         {{>footer}}
    </body>

</html>